*.a
*.app
*.bak
*.cmd
*.d
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gch
*.hex
*.html
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.so
*.so.*
*.su
*.swp
*.tmp
*.x86_64
.DS_Store
.tmp_versions/
Mkfile.old
Module.symvers
dkms.conf
include.txt
modules.order
wget
wurl
